.site-layout-content {
    background: #fff;
    padding: 24px;
    margin: 0;
    min-height: 280px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
  
  .lista {
    text-align: center;
  }
  
  .ant-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .list-item-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .list-item-content > button {
    margin-left: auto;
  }
  