.mainbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EB8114;
  padding: 20px;
}

.logo img {
  max-width: 150px;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Adjust this value to position the form higher or lower */
}

.formulario {
  background: #fff;
  padding: 40px; /* Increased padding */
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px; /* Increased width */
}
