.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logo-container img {
  height: 40px;
  margin-right: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  color: #000000;
  margin-left: 20px;
  position: absolute;
  bottom: 5px;
  left: 35px;
}

.user-info span:first-child {
  font-weight: bold; /* Poner el nombre de usuario en negritas */
}

.user-info span {
  line-height: 1.2;
}

.user-menu {
  margin-right: 15px;
}

.menu-icon {
  color: #fff;
  margin-left: 20px;
}
