.sidebar {
  height: 100vh;
  background-color: #EB8114;
  position: fixed;
}

.ant-menu {
  background-color: #EB8114;
  
}

.ant-menu-item {
  color: white !important;
}

.ant-menu-item .anticon {
  color: white !important;
}

.ant-menu-item-selected {
  background-color: white !important;
  color: #EB8114 !important;
}

.ant-menu-item-selected .anticon {
  color: #EB8114 !important;
}

.ant-menu-item:hover {
  background-color: #EB8114 !important;
  color: white !important;
}

.ant-menu-item:hover .anticon {
  color: white !important;
}

.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid white !important;
}

.no-underline {
  text-decoration: none;
  color: inherit;
}
