/*.contenedor {
    padding: 20px;
  }
  
  .card {
    height: 100%;
  }
  
  .image {
    max-width: 250px;
    height: auto;
    padding: 15px;
  }
  
  .info {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .info span {
    font-weight: bold;
  }*/
  